*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header,.footer{
    background-color: #1F2937;
    color: #F9FAF8;  
}

.header{
    padding: 20px 50px;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0;
    gap: 20px;
    align-items: baseline;
}

li.logo{
    font-size: 24px;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 50px;
    gap: 30px;
}

.hero-info{
    display: flex;
    flex-direction: column;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 20px;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero .img{
    background-color: grey;
    text-align: center;
    align-content: center;
    padding: 100px;
}

.hero button{
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
}

.info-header{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 30px;
}

.body{
    display: flex;
    text-align: center;
    margin: 30px;
    margin-top: 0px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.body .info{
    padding: 30px;
    max-width: 200px;
}

.info .img{
    background-color: white;
    border: 3px solid #3882F6;
    border-radius: 1rem;
    margin-bottom: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content: center;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

.author{
    font-weight: 900;
    font-size: 18px;
    text-align: end;
}

.cta{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    padding: 40px;
    border-radius: 1rem;
}

.cta-header{
    font-size: 20px;
    font-weight: 900;
    color: #F9FAF8;
}

.cta-text{
    color: #E5E7EB;
}

.cta button{
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-width: 5px;
    border-radius: 10px;
    border-color: white;
    width: 150px;
    padding: 10px;
}

.footer{
    text-align: center;
    padding: 50px;
}
